
//親要素 html body

html, body {
    height:100vh
}

//コンテナの高さ、フレックスボックスの高さ
.container-fluid {
    .row {
        min-height: 85vh
    }
}

//トップページの画像をリサイズする。
.resizeimg {
    width:100%;
    border:solid;
}

//README（topページ）へ行くボタン
.readme {
    margin-left:auto;
}

//カレンダーリスト【開始】


// カレンダーリストのアイテムの数が増えたとき、スクロールに切り替わる。
.list-group-scroll {
    min-height: 100px;
    max-height: 500px;
    overflow-y: auto;
}

.list-group-item p {
    margin: 0px;
}

//カレンダーリストのsummaryタグ ▼削除
summary {
    display: block;
    list-style: none;
  }

//カレンダーリストの表示テキストの切り替え
details[open] summary::after {
    content: "閉じる";
}

details:not([open]) summary::after {
    content: "開く";
}

//カレンダーリストのカードヘッダーを中央寄せ
.card-header{
    text-align: center;
}

//カレンダーリストを浮かせる
#calendarList {
    width: 100%;
    position:absolute;
    z-index:1;
    float: right;
    background-color: #cfc;
    border: solid 1px;
    border-radius: 0px 0px 5px 5px;
    border-color: rgb(184, 184, 184);
}

.calendarListTitle {
    right:10px;
    bottom:15px;
}

a .list-group-item {
    width:100%
}


//カレンダーリスト【終了】


