//ボタン
.create {
    text-align: right;
}

//ボタンとボタンの余白
.create button {
    margin-right: 10px;
    margin-bottom: 10px;
}

// カレンダーリストのアイテムの数が増えたとき、スクロールに切り替わる。
.list-group-scroll {
    min-height: 100px;
    max-height: 500px;
    overflow-y: auto;
}

.list-group-item p {
    margin: 0px;
}


//create.blade.php  開始


//センター寄せクラス
.center {
    text-align: center;
}

//下部マージンクラス
.margin-bottom {
    margin-bottom: 30px;
}

//右寄せクラス
.right {
    text-align: right;
}

.right a {
    margin-left: 20px;
}

.create-vertical-center {
    margin-top: 30vh;
}

//上部パディングクラス
.padding-top {
    padding-top: 10px;
}

//カレンダータイトル部分
.c_title {
    min-width: 100%;
}

//option

select, option {
    border:none;
}

//create.blade.php 終了
